<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Вакансии</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Company Name</th>
        <th>Salary</th>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39456818?query=java%20Kiev">Java Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Фортуна</td>
        <td class="salary">85&nbsp;000-110&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38707409?query=java%20Kiev">Senior Java Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39401788?query=java%20Kiev">Java developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО АйТиКвик</td>
        <td class="salary">2&nbsp;600-2&nbsp;800 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39588903?query=java%20Kiev">Android developer (junior)</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">Frozeneon</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39301518?query=java%20Kiev">Програміст Java</a></td>
        <td class="city">Киев, Дорогожичи и еще 2</td>
        <td class="companyName">Украинский Процессинговый Центр</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38884057?query=java%20Kiev">Senior Java developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО First Bridge</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39121691?query=java%20Kiev">Java/Kotlin разработчик</a></td>
        <td class="city">Санкт-Петербург</td>
        <td class="companyName">АРТ-БАНК</td>
        <td class="salary">100&nbsp;000-140&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39384316?query=java%20Kiev">Remote Java Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Scopic Software</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39364767?query=java%20Kiev">Senior / Strong Regular Java
            Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39119881?query=java%20Kiev">Senior Java Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Пандадок</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38705169?query=java%20Kiev">Senior Java Developer with
            JavaScript</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39242965?query=java%20Kiev">Senior Java Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Codeminders</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39170700?query=java%20Kiev">Android разработчик (senior)</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">ГрузовичкоФ</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39527594?query=java%20Kiev">Senior DevOps Engineer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Укрэнерго</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38862382?query=java%20Kiev">Senior Android Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">LUMICODE KYIV</td>
        <td class="salary">3&nbsp;000-5&nbsp;000 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39486084?query=java%20Kiev">Middle Android developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">FOZZY GROUP, Корпорация</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/37958907?query=java%20Kiev">Rust Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">TR Logic LLC</td>
        <td class="salary">от 2&nbsp;000 EUR</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39387701?query=java%20Kiev">Aspose.Imaging .NET Developer</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">Aspose</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38432184?query=java%20Kiev">Middle QA Automation Engineer</a>
        </td>
        <td class="city">Киев, Контрактовая площадь</td>
        <td class="companyName">Райффайзен Банк Аваль</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39364758?query=java%20Kiev">Lead Python Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39430890?query=java%20Kiev">Middle Front End Developer for
            SimilarWeb</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39243734?query=java%20Kiev">QA Тест Аналитик</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Recruit Alliance</td>
        <td class="salary">до 2&nbsp;000 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39430186?query=java%20Kiev">Middle .NET Developer for
            SimilarWeb</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39250078?query=java%20Kiev">Senior Performance QA Engineer for
            Ciklum Digital</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39524197?query=java%20Kiev">Middle Data Engineer for Ciklum
            Digital</a></td>
        <td class="city">Львов</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39574076?query=java%20Kiev">Розробник систем</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Сінево</td>
        <td class="salary">от 45&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39535333?query=java%20Kiev">Головний ІТ-аудитор для
            ПРАВЕКС-БАНК</a></td>
        <td class="city">Киев</td>
        <td class="companyName">grc.ua - лучшие вакансии</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39414102?query=java%20Kiev">SOC Engineer for Just Eat
            Takeaway</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39364770?query=java%20Kiev">Бизнес-аналитик / Системный
            аналитик</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39550835?query=java%20Kiev">Senior Angular Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38162230?query=java%20Kiev">Специалист по тестированию</a>
        </td>
        <td class="city">Йошкар-Ола</td>
        <td class="companyName">TravelLine</td>
        <td class="salary">от 35&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39550539?query=java%20Kiev">L3 Support Engineer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39550299?query=java%20Kiev">Support Specialist</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39517176?query=java%20Kiev">Senior Android разработчик</a>
        </td>
        <td class="city">Киев, Вокзальная</td>
        <td class="companyName">Andersen</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39480988?query=java%20Kiev">Full Stack (Java + JS)
            Developer</a></td>
        <td class="city">Киев, Университет</td>
        <td class="companyName">Andersen</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/36997670?query=java%20Kiev">Java team lead</a></td>
        <td class="city">Москва</td>
        <td class="companyName">MASTERDATA</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39473595?query=java%20Kiev">Senior Java Developer</a></td>
        <td class="city">Минск, Молодежная</td>
        <td class="companyName">Intetics</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39488270?query=java%20Kiev">QA automation engineer (Инженер по
            автоматизации тестирования Python)</a></td>
        <td class="city">Москва</td>
        <td class="companyName">Social Quantum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39488266?query=java%20Kiev">QA automation engineer (Инженер по
            автоматизации тестирования Python)</a></td>
        <td class="city">Санкт-Петербург</td>
        <td class="companyName">Social Quantum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39509121?query=java%20Kiev">Developer (Salesforce)</a></td>
        <td class="city">Москва, Павелецкая</td>
        <td class="companyName">CT Consulting</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39067444?query=java%20Kiev">Android developer</a></td>
        <td class="city">Москва</td>
        <td class="companyName">CT Consulting</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39511407?query=java%20Kiev">Upper Middle / Senior Developer
            (Salesforce) Product Department</a></td>
        <td class="city">Москва</td>
        <td class="companyName">CT Consulting</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39522569?query=java%20Kiev">System Analyst</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО СДевс</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38875243?query=java%20Kiev">QA Automation Engineer Java</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">Andersen</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39416536?query=java%20Kiev">Java Web Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Nitka Technologies</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39462945?query=java%20Kiev">Android Team Lead</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Ruby Labs Ltd</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39409625?query=java%20Kiev">QA Automation Java Engineer</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">Andersen</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39373306?query=java%20Kiev">Regular Java Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39349459?query=java%20Kiev">Senior Java Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">UKRSIBBANK BNP Paribas Group</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39373365?query=java%20Kiev">Angular developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Andersen</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39381166?query=java%20Kiev">Middle / Senior Java developer</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">Andersen</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39241933?query=java%20Kiev">Java-Developer (в Калининград)</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">Sidenis</td>
        <td class="salary">от 1&nbsp;400 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39360940?query=java%20Kiev">Android Developer</a></td>
        <td class="city">Киев, Вокзальная</td>
        <td class="companyName">Andersen</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39383592?query=java%20Kiev">Administrator Filenet</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Альфа-Банк, Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39362146?query=java%20Kiev">Программист / Разработчик</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Конструктор</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39242143?query=java%20Kiev">Automation QA Engineer (в
            Калининград)</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Sidenis</td>
        <td class="salary">до 1&nbsp;700 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39336254?query=java%20Kiev">Специалист по нагрузочному
            тестированию / Performance testing engineer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Лаборатория качества</td>
        <td class="salary">до 1&nbsp;300 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39334007?query=java%20Kiev">GO developer</a></td>
        <td class="city">Минск</td>
        <td class="companyName">ЗАО Научсофт</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39108784?query=java%20Kiev">Android developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Агропросперис</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39328187?query=java%20Kiev">IBM Integration Architect</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Andersen</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39332688?query=java%20Kiev">System Analyst (Product
            Development Team)</a></td>
        <td class="city">Москва</td>
        <td class="companyName">CT Consulting</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39082392?query=java%20Kiev">Automation QA Engineer for
            BigID</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39278440?query=java%20Kiev">E-Commerce Project Manager</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">Укргазбанк</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39383552?query=java%20Kiev">IT Business / System analyst</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">Альфа-Банк, Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39188990?query=java%20Kiev">Senior Java Full-stack Developer,
            AWS (remote)</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО ClearScale</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39124869?query=java%20Kiev">Senior Java Engineer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">TrustNet</td>
        <td class="salary">4&nbsp;500-6&nbsp;000 EUR</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39075423?query=java%20Kiev">Java-разработчик</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Andersen</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39138002?query=java%20Kiev">Middle Software QA Engineer</a>
        </td>
        <td class="city">Киев</td>
        <td class="companyName">ООО ГЕОМОТИВ</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39052729?query=java%20Kiev">Веб-разработчик
            Fullstack-технологий Python, Java и JavaScript</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Exclusive PR Solutions</td>
        <td class="salary">2&nbsp;500-5&nbsp;000 USD</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39282600?query=java%20Kiev">Oracle, VBA Бізнес-аналітик /
            Аналітик</a></td>
        <td class="city">Киев</td>
        <td class="companyName">UKRSIBBANK BNP Paribas Group</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39115392?query=java%20Kiev">Senior QA engineer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Parley Pro</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38524042?query=java%20Kiev">Java Software Engineer</a></td>
        <td class="city">Киев, Золотые ворота и еще 2</td>
        <td class="companyName">ООО Софтиндекс</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38524419?query=java%20Kiev">Front-end JavaScript Developer</a>
        </td>
        <td class="city">Киев, Золотые ворота и еще 2</td>
        <td class="companyName">ООО Софтиндекс</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39593089?query=java%20Kiev">Адміністратор бази даних</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Національні інформаційні системи</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39413407?query=java%20Kiev">Senior QA Engineer /
            Automation</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Codeminders</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39376735?query=java%20Kiev">Android developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Mobiwolf</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39353198?query=java%20Kiev">Junior Flutter (JavaScript)
            developer</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">ИП Devsteam.mobi</td>
        <td class="salary">11&nbsp;200-28&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39353199?query=java%20Kiev">Junior Flutter (JavaScript)
            developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ИП Devsteam.mobi</td>
        <td class="salary">11&nbsp;200-28&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39353194?query=java%20Kiev">JavaScript Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ИП Devsteam.mobi</td>
        <td class="salary">11&nbsp;200-28&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39015037?query=java%20Kiev">Principal Data Engineer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Right&amp;Above, IT Company</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38858884?query=java%20Kiev">Водитель такси</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ИП Парк такси</td>
        <td class="salary">20&nbsp;000-25&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/38917685?query=java%20Kiev">Программист Android / C++</a></td>
        <td class="city">Киев</td>
        <td class="companyName">SystemGroup</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39301466?query=java%20Kiev">Системний адміністратор / DevOps
            Engineer</a></td>
        <td class="city">Киев, Дорогожичи и еще 2</td>
        <td class="companyName">Украинский Процессинговый Центр</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39222310?query=java%20Kiev">Middle Software Engineer (Angular
            2+ / Java)</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ИП Devox Software</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39268695?query=java%20Kiev">Аналітик SAP (модулі SD, MM)</a>
        </td>
        <td class="city">Киев, Лукьяновская</td>
        <td class="companyName">INTERTOP, сеть магазинов</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39297465?query=java%20Kiev">Бізнес-аналітик з впровадження
            CRM-системи</a></td>
        <td class="city">Киев, Лукьяновская</td>
        <td class="companyName">INTERTOP, сеть магазинов</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39176955?query=java%20Kiev">Middle QA Engineer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Livatek</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39091708?query=java%20Kiev">Senior iOS developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Artkai</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39176986?query=java%20Kiev">Scrum Master</a></td>
        <td class="city">Киев</td>
        <td class="companyName">Livatek</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39059162?query=java%20Kiev">DevOps engineer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Artkai</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39179750?query=java%20Kiev">Unity 3D Game Developer</a></td>
        <td class="city">Винница</td>
        <td class="companyName">Uni-Bit Company</td>
        <td class="salary">до 30&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://grc.ua/vacancy/39068075?query=java%20Kiev">Senior Backend Engineer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">ООО Artkai</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy template" style="display: none">
        <td class="title"><a href="url"></a></td>
        <td class="city"></td>
        <td class="companyName"></td>
        <td class="salary"></td>
    </tr>
    </tbody>
</table>
</body>
</html>